/* setup you body with your general font and colour */
body {
  color: #fff;
  font-size:20px;
  font-family: sans-serif;
}


#myDIV {
    text-align: center;
    background-color: #264653;
    width: 50vw;
    position:fixed;
    margin-top:100px;
    justify-content: center;
    z-index: 2;
    height:80vh;
    color: #36bdb1;
}

#myDIVtwo {
  text-align: center;
  background-color: #36bdb1;
  width: 50vw;
  position:fixed;
  margin-top:100px;
  justify-content: center;
  z-index: 2;
  height:80vh;
  color: #264653;
}
.thebuttonone:hover {
  background-color: #36bdb1;
}

.thebuttontwo:hover {
  background-color: #264653;
}

.thebuttonone {
  background-color: #ffd077;
  width: 50vw;
  position:fixed;
  left:0;
  top:0;
  justify-content: center;
  padding: none;
  height: 100px;
  margin: 0 0 0 0;
  text-transform: uppercase;
  color: #264653;
}
.thebuttontwo {
  background-color: #faf287;
  width: 50vw;
  position: fixed;
  right:0;
  top:0;
  justify-content: center;
  margin: 0 0 0 0;
  height: 100px;
  color: #264653;
  text-transform: uppercase;
  color: #36bdb1;

}
/* for both .panels you make them 100vh (stands for view height) with 60vw (view width) and overflow scroll. If the content goes beyond the view height, allow the user to scroll */

.buttonone {
  background-color: #faf287;

}

.buttontwo {

  background-color: #264653;

}

.panel {
  height:80vh;
  width: 50vw;
  overflow: scroll;
  margin-top: 100px;
  margin-bottom: 50px;

}
.buttons {
  display: inline-block;
  margin-bottom: 30px;
  padding-top: 25%;
  font-size: 100px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 2px 2px white;

}

/* left and right get different background colours, both are fixed, however .left is positioned left 0 and .right is right 0 */

.left {
  background-color: #faf287;
  position:fixed;
  left:0;
  top:0;
}

.right {
  background-color: #ffd077;
  position:fixed;
  right:0;
  top:0;
}

/* for each text-scroll you set a height and overflow for the scroll and padding to look nicer within the panel. Remember it will only scroll IF the content exceeds the height set.*/

.text-scroll {
  padding:20px;
  margin:20px;
  border-radius:20px;
  height:75px;
  overflow:scroll;
}

.c-one {
  background-color: #ce6586;
}

.c-two {
  background-color: #f58660;
}
.c-three {
  background-color: #ce6586;
}

.c-four {
  background-color: #f58660;
}

.footer {
  z-index: 3;
  height: 30px;
  background-color: #36bdb1;
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-top: 5px;


}

.rob {
  background-color: #faf287;
  width: 50vw;
  position:fixed;
  left:0;
  bottom:0;
  justify-content: center;
  padding: none;
  font-size: 15px;
  text-transform: uppercase;
  color: #264653;
  z-index: 3;
}

.dave {
  background-color: #ffd077;
  width: 50vw;
  position: fixed;
  right:0;
  justify-content: center;
  color: #264653;
  font-size: 15px;
  text-transform: uppercase;
  color: #36bdb1;
  z-index: 3;
  bottom:0;
}


.column {

    width: 100px;
    padding: 10px;
    height: 30px;/* Should be removed. Only for demonstration */
    background-color: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 20px;


}

a:visited {
    text-decoration: none;
}

.dog {
  bottom: 0;
  right: 0;
  float: right;

}

.cat {
  bottom: 0;
  left: 0;
  float: left;
}

/* Clear floats after the columns */
.hrow:after {
    content: "";
    display: table;
    clear: both;
}

.hrow {
  position:fixed;
  z-index: 6;
}
